@import '@fontsource/nunito-sans/300.css';
@import '@fontsource/nunito-sans/600.css';
@import '@fontsource/nunito-sans/800.css';

:root {
  bx-sizing: border-box;

  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);

  --elements-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

[data-theme='dark'] {
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
  --background: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: var(--input);
  background-color: var(--background);
}
