.details-page {
  margin: 2em;

  @media (min-width: 768px) {
    margin: 4em;
  }

  .back-button {
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em 2em;
    border: initial;
    background-color: var(--elements);
    box-shadow: var(--elements-shadow);
    border-radius: 0.5em;
    color: var(--text);
    font-family: inherit;
    margin-bottom: 4em;
  }

  .country-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .details-flag {
    width: 100%;

    @media (min-width: 768px) {
      width: 40%;
    }

    img {
      width: 100%;
    }
  }

  .details-text {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }

    .title {
      font-size: 2rem;
    }
  }

  .detail-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 2em;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .items-column {
    line-height: 0;

    &:first-child {
      margin-bottom: 2em;
    }

    @media (min-width: 768px) {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }

  .item,
  .borderCountries {
    font-size: 0.875rem;
    display: flex;
    align-items: baseline;

    h3 {
      font-weight: 600;
      margin-right: 0.25em;
    }
  }
}
