.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--elements);
  box-shadow: var(--elements-shadow);

  @media (min-width: 768px) {
    padding: 1em 4em;
  }

  &__title {
    font-size: calc(0.75rem + 1vw);
    font-weight: 800;
    align-self: baseline;
  }
}
